@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap");

/* variables */
:root {
    --primary-text-color: grey;
    --secondary-text-color: rgb(35, 25, 66);
    --hover-text-color: rgb(224, 177, 203);
    --accent-color: rgb(94, 84, 142);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    margin: 0;
    color: var(--primary-text-color);
}

header {
    height: 20vh;
    border-bottom: 1px solid grey;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--secondary-text-color);
}

a {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover,
a:active,
a:focus {
    color: var(--hover-text-color);
}

i {
    color: var(--accent-color);
}

i:hover {
    color: var(--hover-text-color);
}

button {
    padding: 0.3rem 1rem;
    border: 1px solid grey;
    color: var(--accent-color);
    border-radius: 0.25rem;
}

button:hover {
    color: var(--hover-text-color);
}

p {
    margin: 0;
}

footer {
    text-align: center;
    color: var(--secondary-text-color);
}

/* navigation */
.hamburger {
    color: var(--accent-color);
}

.navbar {
    border-bottom: 1px solid lightgrey;
}

.navbar-brand {
    background: var(--accent-color);
    color: white;
    border-radius: 5px;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-icons {
    justify-content: flex-start;
}

.nav-link {
    text-transform: uppercase;
    color: var(--accent-color);
}

.nav-link:hover {
    color: var(--hover-text-color);
}

.nav-icon {
    margin-right: 10px;
    font-size: 1.3em;
}

.search-box {
    border: none;
    border-bottom: 1px solid grey;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}

.dropdown-menu {
    border: none;
    transition: all 2s ease-in-out;
}

.dropdown-item {
    color: var(--accent-color);
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
    color: var(--hover-text-color);
    background-color: white;
}

/* header */
.brand {
    font-weight: 900;
}

/* main section */
.blog-content {
    min-height: 67vh;
}

/* posts */
.view-post-btn {
    border: 1px solid grey;
}

/* post details */
.post-entry h2 {
    margin: 2rem 0 1rem;
    font-weight: 900;
}

.date {
    font-size: 1rem;
}

.post-entry p {
    width: 90%;
    padding: 0.5rem 0;
}

/* comments */
.comments {
    font-size: 1.7rem;
}

.comment-container {
    margin: 1rem 0;
}

.comment-user {
    font-weight: bold;
    color: var(--accent-color);
}

label {
    display: block;
}

textarea {
    max-width: 100%;
}

textarea:focus {
    outline: 1px solid var(--accent-color);
}

.comment-btn {
    color: var(--accent-color);
}

.comment-btn:hover {
    color: var(--hover-text-color);
}

/* forms */
.form-label {
    display: block;
}

/* search results */
.card-title {
    font-size: 1.25rem;
}

/* error-handling */
.error-container {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
}

.error-form {
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
    border-bottom: 1px solid grey;
}

.error-search-box {
    border: none;
    background-color: transparent;
    border-radius: 0;
    outline: none;
}

.home-btn {
    padding: 10px 40px;
    margin: 10px 0;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 50px;
}

@media screen and (max-width: 426px) {
    .post-entry p {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .navbar {
        position: fixed;
        width: 100%;
        background-color: white;
        z-index: 1;
    }

    header {
        height: 25vh;
    }

    .brand {
        transform: translateY(100%);
    }
}
@media screen and (min-width: 1024px) {
    .comment-section {
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .posts-container {
        max-width: 2000px;
    }
}
