{% extends 'base.html' %}

{% block content %}
    {% if category %}
    <h2 class="text-center"><strong>{{ category }}</strong></h2>
    {% endif %}
    <br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-4 px-4">
        {% for post in posts %}
            <div class="col">
                <div class="card h-100 text-center">
                    <a href="{{ post.get_absolute_url }}"><img src="{{ post.cover.url }}" class="card-img-top" alt="..."></a>
                    <div class="card-body">
                        <h5 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ post.date_created|date:"F j, Y" }}</small> | 
                        <small class="text-muted">{{ post.comment_set.all.count }} comments</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination py-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a> | 
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a> | 
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


   
    
        <!-- <h3><a href="{{ post.get_absolute_url }}">{{ post }}</a></h3>
        <p>{{ post.content|safe }}</p>
     -->
{% endblock %}